extends layout

block content
  h3 SRs öppna API!
  p Här ser du vad man kan hämta 
  a(href="http://api.sr.se/api/v2/channels?format=json" target="_blank") API-länken
  each channel in records.srapi.channels
    h1= channel.name
    p= channel.siteurl
    img(src="#{channel.image}")
  
